<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <!-- Menu gốc -->
        <menuitem
            id="menu_root_duan"
            name="Quản Lý Công Việc"
            sequence="0"/>

        <menuitem
            id="menu_du_an"
            name="Dự Án"
            parent="menu_root_duan"
            sequence="2"
            action="action_du_an"/>

        <menuitem
            id="menu_giai_doan_cong_viec"
            name="Giai Đoạn Làm Việc"
            parent="menu_root_duan"
            sequence="7"
            action="action_giai_doan_cong_viec"/>

        <menuitem
            id="menu_cong_viec"
            name="Công Việc"
            parent="menu_root_duan"
            sequence="4"
            action="action_cong_viec"/>

        <menuitem
            id="menu_nhat_ky"
            name="Nhật Ký Công Việc"
            parent="menu_root_duan"
            sequence="5"
            action="action_nhat_ky"/> 

        <menuitem
            id="menu_tai_nguyen"
            name="Tài Nguyên Dự Án"
            parent="menu_root_duan"
            sequence="3"
            action="action_tai_nguyen"/> 
        
        <menuitem
            id="menu_danh_gia_nhan_vien"
            name="Đánh Giá Nhân Viên"
            parent="menu_root_duan"
            sequence="6"
            action="action_danh_gia_nhan_vien"/> 
        
         <menuitem
            id="menu_dashboard"
            name="Dashboard"
            parent="menu_root_duan"
            sequence="1"
            action="action_dashboard"/>
    </data>
</odoo>